KiewitTeamBinder.Api/Service References/MailServiceReference/mail.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.qa-software.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.qa-software.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.qa-software.com/">
      <s:element name="ListMail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mailBox" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mailFilter" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="mailAccessLevel" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="orderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="startRowPosition" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="noOfRows" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListMailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListMailResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMailDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mailBox" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="mailIntKey" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMailDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMailDetailsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAttachmentsDownloadLink">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mailBox" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mailKeyList" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="attachmentKeyList" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="zipSingleFiles" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAttachmentsDownloadLinkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAttachmentsDownloadLinkResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListNewMailTypes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListNewMailTypesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListNewMailTypesResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListReplyForwardMailTypes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="originatingMailType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="composeMailAction" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListReplyForwardMailTypesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListReplyForwardMailTypesResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStructureForComposeMail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="parentMailIntKey" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="parentMailBox" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mailType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="composeMailAction" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStructureForComposeMailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStructureForComposeMailResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveMail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mailType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mailDetailsXml" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="composeMailAction" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="parentMailIntKey" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="parentMailBox" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveMailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveMailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="savedMailKey" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="mailType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mailDetailsXml" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="composeMailAction" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="parentMailIntKey" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="parentMailBox" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendMailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MarkAsReadOrUnread">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mailKeyList" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="readOrUnread" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MarkAsReadOrUnreadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MarkAsReadOrUnreadResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendReadReceipt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mailKeyList" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sendResponseAsRead" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendReadReceiptResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendReadReceiptResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMailThread">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="mailIntKey" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="mailBox" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMailThreadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMailThreadResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListMailForAllProjects">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mailBox" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mailFilter" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mailAccessLevel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="orderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="startRowPosition" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="noOfRows" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListMailForAllProjectsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListMailForAllProjectsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListMailForAllProjectsAsynchronous">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mailBox" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mailFilter" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="mailAccessLevel" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="orderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="startRowPosition" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="noOfRows" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListMailForAllProjectsAsynchronousResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListMailForAllProjectsAsynchronousResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMailDetailsFromProject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mailBox" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="mailIntKey" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="masterProjectKey" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMailDetailsFromProjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMailDetailsFromProjectResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAttachmentsDownloadLinkFromProject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mailBox" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mailKeyList" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="attachmentKeyList" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="zipSingleFiles" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="masterProjectKey" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAttachmentsDownloadLinkFromProjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAttachmentsDownloadLinkFromProjectResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataTable" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListMailSoapIn">
    <wsdl:part name="parameters" element="tns:ListMail" />
  </wsdl:message>
  <wsdl:message name="ListMailSoapOut">
    <wsdl:part name="parameters" element="tns:ListMailResponse" />
  </wsdl:message>
  <wsdl:message name="GetMailDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetMailDetails" />
  </wsdl:message>
  <wsdl:message name="GetMailDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetMailDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAttachmentsDownloadLinkSoapIn">
    <wsdl:part name="parameters" element="tns:GetAttachmentsDownloadLink" />
  </wsdl:message>
  <wsdl:message name="GetAttachmentsDownloadLinkSoapOut">
    <wsdl:part name="parameters" element="tns:GetAttachmentsDownloadLinkResponse" />
  </wsdl:message>
  <wsdl:message name="ListNewMailTypesSoapIn">
    <wsdl:part name="parameters" element="tns:ListNewMailTypes" />
  </wsdl:message>
  <wsdl:message name="ListNewMailTypesSoapOut">
    <wsdl:part name="parameters" element="tns:ListNewMailTypesResponse" />
  </wsdl:message>
  <wsdl:message name="ListReplyForwardMailTypesSoapIn">
    <wsdl:part name="parameters" element="tns:ListReplyForwardMailTypes" />
  </wsdl:message>
  <wsdl:message name="ListReplyForwardMailTypesSoapOut">
    <wsdl:part name="parameters" element="tns:ListReplyForwardMailTypesResponse" />
  </wsdl:message>
  <wsdl:message name="GetStructureForComposeMailSoapIn">
    <wsdl:part name="parameters" element="tns:GetStructureForComposeMail" />
  </wsdl:message>
  <wsdl:message name="GetStructureForComposeMailSoapOut">
    <wsdl:part name="parameters" element="tns:GetStructureForComposeMailResponse" />
  </wsdl:message>
  <wsdl:message name="SaveMailSoapIn">
    <wsdl:part name="parameters" element="tns:SaveMail" />
  </wsdl:message>
  <wsdl:message name="SaveMailSoapOut">
    <wsdl:part name="parameters" element="tns:SaveMailResponse" />
  </wsdl:message>
  <wsdl:message name="SendMailSoapIn">
    <wsdl:part name="parameters" element="tns:SendMail" />
  </wsdl:message>
  <wsdl:message name="SendMailSoapOut">
    <wsdl:part name="parameters" element="tns:SendMailResponse" />
  </wsdl:message>
  <wsdl:message name="MarkAsReadOrUnreadSoapIn">
    <wsdl:part name="parameters" element="tns:MarkAsReadOrUnread" />
  </wsdl:message>
  <wsdl:message name="MarkAsReadOrUnreadSoapOut">
    <wsdl:part name="parameters" element="tns:MarkAsReadOrUnreadResponse" />
  </wsdl:message>
  <wsdl:message name="SendReadReceiptSoapIn">
    <wsdl:part name="parameters" element="tns:SendReadReceipt" />
  </wsdl:message>
  <wsdl:message name="SendReadReceiptSoapOut">
    <wsdl:part name="parameters" element="tns:SendReadReceiptResponse" />
  </wsdl:message>
  <wsdl:message name="GetMailThreadSoapIn">
    <wsdl:part name="parameters" element="tns:GetMailThread" />
  </wsdl:message>
  <wsdl:message name="GetMailThreadSoapOut">
    <wsdl:part name="parameters" element="tns:GetMailThreadResponse" />
  </wsdl:message>
  <wsdl:message name="ListMailForAllProjectsSoapIn">
    <wsdl:part name="parameters" element="tns:ListMailForAllProjects" />
  </wsdl:message>
  <wsdl:message name="ListMailForAllProjectsSoapOut">
    <wsdl:part name="parameters" element="tns:ListMailForAllProjectsResponse" />
  </wsdl:message>
  <wsdl:message name="ListMailForAllProjectsAsynchronousSoapIn">
    <wsdl:part name="parameters" element="tns:ListMailForAllProjectsAsynchronous" />
  </wsdl:message>
  <wsdl:message name="ListMailForAllProjectsAsynchronousSoapOut">
    <wsdl:part name="parameters" element="tns:ListMailForAllProjectsAsynchronousResponse" />
  </wsdl:message>
  <wsdl:message name="GetMailDetailsFromProjectSoapIn">
    <wsdl:part name="parameters" element="tns:GetMailDetailsFromProject" />
  </wsdl:message>
  <wsdl:message name="GetMailDetailsFromProjectSoapOut">
    <wsdl:part name="parameters" element="tns:GetMailDetailsFromProjectResponse" />
  </wsdl:message>
  <wsdl:message name="GetAttachmentsDownloadLinkFromProjectSoapIn">
    <wsdl:part name="parameters" element="tns:GetAttachmentsDownloadLinkFromProject" />
  </wsdl:message>
  <wsdl:message name="GetAttachmentsDownloadLinkFromProjectSoapOut">
    <wsdl:part name="parameters" element="tns:GetAttachmentsDownloadLinkFromProjectResponse" />
  </wsdl:message>
  <wsdl:message name="ListMailHttpGetIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="mailBox" type="s:string" />
    <wsdl:part name="mailFilter" type="s:string" />
    <wsdl:part name="mailAccessLevel" type="s:string" />
    <wsdl:part name="orderBy" type="s:string" />
    <wsdl:part name="startRowPosition" type="s:string" />
    <wsdl:part name="noOfRows" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListMailHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="GetMailDetailsHttpGetIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="mailBox" type="s:string" />
    <wsdl:part name="mailIntKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMailDetailsHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetAttachmentsDownloadLinkHttpGetIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="mailBox" type="s:string" />
    <wsdl:part name="mailKeyList" type="s:string" />
    <wsdl:part name="attachmentKeyList" type="s:string" />
    <wsdl:part name="zipSingleFiles" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAttachmentsDownloadLinkHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ListNewMailTypesHttpGetIn">
    <wsdl:part name="sessionKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListNewMailTypesHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="ListReplyForwardMailTypesHttpGetIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="originatingMailType" type="s:string" />
    <wsdl:part name="composeMailAction" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListReplyForwardMailTypesHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="GetStructureForComposeMailHttpGetIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="parentMailIntKey" type="s:string" />
    <wsdl:part name="parentMailBox" type="s:string" />
    <wsdl:part name="mailType" type="s:string" />
    <wsdl:part name="composeMailAction" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetStructureForComposeMailHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="SaveMailHttpGetIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="mailType" type="s:string" />
    <wsdl:part name="mailDetailsXml" type="s:string" />
    <wsdl:part name="composeMailAction" type="s:string" />
    <wsdl:part name="parentMailIntKey" type="s:string" />
    <wsdl:part name="parentMailBox" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SaveMailHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SendMailHttpGetIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="savedMailKey" type="s:string" />
    <wsdl:part name="mailType" type="s:string" />
    <wsdl:part name="mailDetailsXml" type="s:string" />
    <wsdl:part name="composeMailAction" type="s:string" />
    <wsdl:part name="parentMailIntKey" type="s:string" />
    <wsdl:part name="parentMailBox" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendMailHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="MarkAsReadOrUnreadHttpGetIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="mailKeyList" type="s:string" />
    <wsdl:part name="readOrUnread" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MarkAsReadOrUnreadHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SendReadReceiptHttpGetIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="mailKeyList" type="s:string" />
    <wsdl:part name="sendResponseAsRead" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendReadReceiptHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetMailThreadHttpGetIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="mailIntKey" type="s:string" />
    <wsdl:part name="mailBox" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMailThreadHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="ListMailForAllProjectsHttpGetIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="mailBox" type="s:string" />
    <wsdl:part name="mailFilter" type="s:string" />
    <wsdl:part name="mailAccessLevel" type="s:string" />
    <wsdl:part name="orderBy" type="s:string" />
    <wsdl:part name="startRowPosition" type="s:string" />
    <wsdl:part name="noOfRows" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListMailForAllProjectsHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="ListMailForAllProjectsAsynchronousHttpGetIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="mailBox" type="s:string" />
    <wsdl:part name="mailFilter" type="s:string" />
    <wsdl:part name="mailAccessLevel" type="s:string" />
    <wsdl:part name="orderBy" type="s:string" />
    <wsdl:part name="startRowPosition" type="s:string" />
    <wsdl:part name="noOfRows" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListMailForAllProjectsAsynchronousHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetMailDetailsFromProjectHttpGetIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="mailBox" type="s:string" />
    <wsdl:part name="mailIntKey" type="s:string" />
    <wsdl:part name="masterProjectKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMailDetailsFromProjectHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetAttachmentsDownloadLinkFromProjectHttpGetIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="mailBox" type="s:string" />
    <wsdl:part name="mailKeyList" type="s:string" />
    <wsdl:part name="attachmentKeyList" type="s:string" />
    <wsdl:part name="zipSingleFiles" type="s:string" />
    <wsdl:part name="masterProjectKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAttachmentsDownloadLinkFromProjectHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ListMailHttpPostIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="mailBox" type="s:string" />
    <wsdl:part name="mailFilter" type="s:string" />
    <wsdl:part name="mailAccessLevel" type="s:string" />
    <wsdl:part name="orderBy" type="s:string" />
    <wsdl:part name="startRowPosition" type="s:string" />
    <wsdl:part name="noOfRows" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListMailHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="GetMailDetailsHttpPostIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="mailBox" type="s:string" />
    <wsdl:part name="mailIntKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMailDetailsHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetAttachmentsDownloadLinkHttpPostIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="mailBox" type="s:string" />
    <wsdl:part name="mailKeyList" type="s:string" />
    <wsdl:part name="attachmentKeyList" type="s:string" />
    <wsdl:part name="zipSingleFiles" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAttachmentsDownloadLinkHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ListNewMailTypesHttpPostIn">
    <wsdl:part name="sessionKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListNewMailTypesHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="ListReplyForwardMailTypesHttpPostIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="originatingMailType" type="s:string" />
    <wsdl:part name="composeMailAction" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListReplyForwardMailTypesHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="GetStructureForComposeMailHttpPostIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="parentMailIntKey" type="s:string" />
    <wsdl:part name="parentMailBox" type="s:string" />
    <wsdl:part name="mailType" type="s:string" />
    <wsdl:part name="composeMailAction" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetStructureForComposeMailHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="SaveMailHttpPostIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="mailType" type="s:string" />
    <wsdl:part name="mailDetailsXml" type="s:string" />
    <wsdl:part name="composeMailAction" type="s:string" />
    <wsdl:part name="parentMailIntKey" type="s:string" />
    <wsdl:part name="parentMailBox" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SaveMailHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SendMailHttpPostIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="savedMailKey" type="s:string" />
    <wsdl:part name="mailType" type="s:string" />
    <wsdl:part name="mailDetailsXml" type="s:string" />
    <wsdl:part name="composeMailAction" type="s:string" />
    <wsdl:part name="parentMailIntKey" type="s:string" />
    <wsdl:part name="parentMailBox" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendMailHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="MarkAsReadOrUnreadHttpPostIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="mailKeyList" type="s:string" />
    <wsdl:part name="readOrUnread" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MarkAsReadOrUnreadHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SendReadReceiptHttpPostIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="mailKeyList" type="s:string" />
    <wsdl:part name="sendResponseAsRead" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendReadReceiptHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetMailThreadHttpPostIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="mailIntKey" type="s:string" />
    <wsdl:part name="mailBox" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMailThreadHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="ListMailForAllProjectsHttpPostIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="mailBox" type="s:string" />
    <wsdl:part name="mailFilter" type="s:string" />
    <wsdl:part name="mailAccessLevel" type="s:string" />
    <wsdl:part name="orderBy" type="s:string" />
    <wsdl:part name="startRowPosition" type="s:string" />
    <wsdl:part name="noOfRows" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListMailForAllProjectsHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="ListMailForAllProjectsAsynchronousHttpPostIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="mailBox" type="s:string" />
    <wsdl:part name="mailFilter" type="s:string" />
    <wsdl:part name="mailAccessLevel" type="s:string" />
    <wsdl:part name="orderBy" type="s:string" />
    <wsdl:part name="startRowPosition" type="s:string" />
    <wsdl:part name="noOfRows" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListMailForAllProjectsAsynchronousHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetMailDetailsFromProjectHttpPostIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="mailBox" type="s:string" />
    <wsdl:part name="mailIntKey" type="s:string" />
    <wsdl:part name="masterProjectKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMailDetailsFromProjectHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetAttachmentsDownloadLinkFromProjectHttpPostIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="mailBox" type="s:string" />
    <wsdl:part name="mailKeyList" type="s:string" />
    <wsdl:part name="attachmentKeyList" type="s:string" />
    <wsdl:part name="zipSingleFiles" type="s:string" />
    <wsdl:part name="masterProjectKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAttachmentsDownloadLinkFromProjectHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:portType name="MailWebServiceSoap">
    <wsdl:operation name="ListMail">
      <wsdl:input message="tns:ListMailSoapIn" />
      <wsdl:output message="tns:ListMailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMailDetails">
      <wsdl:input message="tns:GetMailDetailsSoapIn" />
      <wsdl:output message="tns:GetMailDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAttachmentsDownloadLink">
      <wsdl:input message="tns:GetAttachmentsDownloadLinkSoapIn" />
      <wsdl:output message="tns:GetAttachmentsDownloadLinkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListNewMailTypes">
      <wsdl:input message="tns:ListNewMailTypesSoapIn" />
      <wsdl:output message="tns:ListNewMailTypesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListReplyForwardMailTypes">
      <wsdl:input message="tns:ListReplyForwardMailTypesSoapIn" />
      <wsdl:output message="tns:ListReplyForwardMailTypesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStructureForComposeMail">
      <wsdl:input message="tns:GetStructureForComposeMailSoapIn" />
      <wsdl:output message="tns:GetStructureForComposeMailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveMail">
      <wsdl:input message="tns:SaveMailSoapIn" />
      <wsdl:output message="tns:SaveMailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMail">
      <wsdl:input message="tns:SendMailSoapIn" />
      <wsdl:output message="tns:SendMailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MarkAsReadOrUnread">
      <wsdl:input message="tns:MarkAsReadOrUnreadSoapIn" />
      <wsdl:output message="tns:MarkAsReadOrUnreadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendReadReceipt">
      <wsdl:input message="tns:SendReadReceiptSoapIn" />
      <wsdl:output message="tns:SendReadReceiptSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMailThread">
      <wsdl:input message="tns:GetMailThreadSoapIn" />
      <wsdl:output message="tns:GetMailThreadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListMailForAllProjects">
      <wsdl:input message="tns:ListMailForAllProjectsSoapIn" />
      <wsdl:output message="tns:ListMailForAllProjectsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListMailForAllProjectsAsynchronous">
      <wsdl:input message="tns:ListMailForAllProjectsAsynchronousSoapIn" />
      <wsdl:output message="tns:ListMailForAllProjectsAsynchronousSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMailDetailsFromProject">
      <wsdl:input message="tns:GetMailDetailsFromProjectSoapIn" />
      <wsdl:output message="tns:GetMailDetailsFromProjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAttachmentsDownloadLinkFromProject">
      <wsdl:input message="tns:GetAttachmentsDownloadLinkFromProjectSoapIn" />
      <wsdl:output message="tns:GetAttachmentsDownloadLinkFromProjectSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="MailWebServiceHttpGet">
    <wsdl:operation name="ListMail">
      <wsdl:input message="tns:ListMailHttpGetIn" />
      <wsdl:output message="tns:ListMailHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMailDetails">
      <wsdl:input message="tns:GetMailDetailsHttpGetIn" />
      <wsdl:output message="tns:GetMailDetailsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAttachmentsDownloadLink">
      <wsdl:input message="tns:GetAttachmentsDownloadLinkHttpGetIn" />
      <wsdl:output message="tns:GetAttachmentsDownloadLinkHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ListNewMailTypes">
      <wsdl:input message="tns:ListNewMailTypesHttpGetIn" />
      <wsdl:output message="tns:ListNewMailTypesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ListReplyForwardMailTypes">
      <wsdl:input message="tns:ListReplyForwardMailTypesHttpGetIn" />
      <wsdl:output message="tns:ListReplyForwardMailTypesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStructureForComposeMail">
      <wsdl:input message="tns:GetStructureForComposeMailHttpGetIn" />
      <wsdl:output message="tns:GetStructureForComposeMailHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveMail">
      <wsdl:input message="tns:SaveMailHttpGetIn" />
      <wsdl:output message="tns:SaveMailHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMail">
      <wsdl:input message="tns:SendMailHttpGetIn" />
      <wsdl:output message="tns:SendMailHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="MarkAsReadOrUnread">
      <wsdl:input message="tns:MarkAsReadOrUnreadHttpGetIn" />
      <wsdl:output message="tns:MarkAsReadOrUnreadHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SendReadReceipt">
      <wsdl:input message="tns:SendReadReceiptHttpGetIn" />
      <wsdl:output message="tns:SendReadReceiptHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMailThread">
      <wsdl:input message="tns:GetMailThreadHttpGetIn" />
      <wsdl:output message="tns:GetMailThreadHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ListMailForAllProjects">
      <wsdl:input message="tns:ListMailForAllProjectsHttpGetIn" />
      <wsdl:output message="tns:ListMailForAllProjectsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ListMailForAllProjectsAsynchronous">
      <wsdl:input message="tns:ListMailForAllProjectsAsynchronousHttpGetIn" />
      <wsdl:output message="tns:ListMailForAllProjectsAsynchronousHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMailDetailsFromProject">
      <wsdl:input message="tns:GetMailDetailsFromProjectHttpGetIn" />
      <wsdl:output message="tns:GetMailDetailsFromProjectHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAttachmentsDownloadLinkFromProject">
      <wsdl:input message="tns:GetAttachmentsDownloadLinkFromProjectHttpGetIn" />
      <wsdl:output message="tns:GetAttachmentsDownloadLinkFromProjectHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="MailWebServiceHttpPost">
    <wsdl:operation name="ListMail">
      <wsdl:input message="tns:ListMailHttpPostIn" />
      <wsdl:output message="tns:ListMailHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMailDetails">
      <wsdl:input message="tns:GetMailDetailsHttpPostIn" />
      <wsdl:output message="tns:GetMailDetailsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAttachmentsDownloadLink">
      <wsdl:input message="tns:GetAttachmentsDownloadLinkHttpPostIn" />
      <wsdl:output message="tns:GetAttachmentsDownloadLinkHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ListNewMailTypes">
      <wsdl:input message="tns:ListNewMailTypesHttpPostIn" />
      <wsdl:output message="tns:ListNewMailTypesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ListReplyForwardMailTypes">
      <wsdl:input message="tns:ListReplyForwardMailTypesHttpPostIn" />
      <wsdl:output message="tns:ListReplyForwardMailTypesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStructureForComposeMail">
      <wsdl:input message="tns:GetStructureForComposeMailHttpPostIn" />
      <wsdl:output message="tns:GetStructureForComposeMailHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveMail">
      <wsdl:input message="tns:SaveMailHttpPostIn" />
      <wsdl:output message="tns:SaveMailHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMail">
      <wsdl:input message="tns:SendMailHttpPostIn" />
      <wsdl:output message="tns:SendMailHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="MarkAsReadOrUnread">
      <wsdl:input message="tns:MarkAsReadOrUnreadHttpPostIn" />
      <wsdl:output message="tns:MarkAsReadOrUnreadHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SendReadReceipt">
      <wsdl:input message="tns:SendReadReceiptHttpPostIn" />
      <wsdl:output message="tns:SendReadReceiptHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMailThread">
      <wsdl:input message="tns:GetMailThreadHttpPostIn" />
      <wsdl:output message="tns:GetMailThreadHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ListMailForAllProjects">
      <wsdl:input message="tns:ListMailForAllProjectsHttpPostIn" />
      <wsdl:output message="tns:ListMailForAllProjectsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ListMailForAllProjectsAsynchronous">
      <wsdl:input message="tns:ListMailForAllProjectsAsynchronousHttpPostIn" />
      <wsdl:output message="tns:ListMailForAllProjectsAsynchronousHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMailDetailsFromProject">
      <wsdl:input message="tns:GetMailDetailsFromProjectHttpPostIn" />
      <wsdl:output message="tns:GetMailDetailsFromProjectHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAttachmentsDownloadLinkFromProject">
      <wsdl:input message="tns:GetAttachmentsDownloadLinkFromProjectHttpPostIn" />
      <wsdl:output message="tns:GetAttachmentsDownloadLinkFromProjectHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MailWebServiceSoap" type="tns:MailWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListMail">
      <soap:operation soapAction="http://www.qa-software.com/ListMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMailDetails">
      <soap:operation soapAction="http://www.qa-software.com/GetMailDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAttachmentsDownloadLink">
      <soap:operation soapAction="http://www.qa-software.com/GetAttachmentsDownloadLink" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListNewMailTypes">
      <soap:operation soapAction="http://www.qa-software.com/ListNewMailTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListReplyForwardMailTypes">
      <soap:operation soapAction="http://www.qa-software.com/ListReplyForwardMailTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStructureForComposeMail">
      <soap:operation soapAction="http://www.qa-software.com/GetStructureForComposeMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveMail">
      <soap:operation soapAction="http://www.qa-software.com/SaveMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMail">
      <soap:operation soapAction="http://www.qa-software.com/SendMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarkAsReadOrUnread">
      <soap:operation soapAction="http://www.qa-software.com/MarkAsReadOrUnread" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendReadReceipt">
      <soap:operation soapAction="http://www.qa-software.com/SendReadReceipt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMailThread">
      <soap:operation soapAction="http://www.qa-software.com/GetMailThread" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListMailForAllProjects">
      <soap:operation soapAction="http://www.qa-software.com/ListMailForAllProjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListMailForAllProjectsAsynchronous">
      <soap:operation soapAction="http://www.qa-software.com/ListMailForAllProjectsAsynchronous" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMailDetailsFromProject">
      <soap:operation soapAction="http://www.qa-software.com/GetMailDetailsFromProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAttachmentsDownloadLinkFromProject">
      <soap:operation soapAction="http://www.qa-software.com/GetAttachmentsDownloadLinkFromProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MailWebServiceSoap12" type="tns:MailWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListMail">
      <soap12:operation soapAction="http://www.qa-software.com/ListMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMailDetails">
      <soap12:operation soapAction="http://www.qa-software.com/GetMailDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAttachmentsDownloadLink">
      <soap12:operation soapAction="http://www.qa-software.com/GetAttachmentsDownloadLink" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListNewMailTypes">
      <soap12:operation soapAction="http://www.qa-software.com/ListNewMailTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListReplyForwardMailTypes">
      <soap12:operation soapAction="http://www.qa-software.com/ListReplyForwardMailTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStructureForComposeMail">
      <soap12:operation soapAction="http://www.qa-software.com/GetStructureForComposeMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveMail">
      <soap12:operation soapAction="http://www.qa-software.com/SaveMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMail">
      <soap12:operation soapAction="http://www.qa-software.com/SendMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarkAsReadOrUnread">
      <soap12:operation soapAction="http://www.qa-software.com/MarkAsReadOrUnread" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendReadReceipt">
      <soap12:operation soapAction="http://www.qa-software.com/SendReadReceipt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMailThread">
      <soap12:operation soapAction="http://www.qa-software.com/GetMailThread" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListMailForAllProjects">
      <soap12:operation soapAction="http://www.qa-software.com/ListMailForAllProjects" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListMailForAllProjectsAsynchronous">
      <soap12:operation soapAction="http://www.qa-software.com/ListMailForAllProjectsAsynchronous" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMailDetailsFromProject">
      <soap12:operation soapAction="http://www.qa-software.com/GetMailDetailsFromProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAttachmentsDownloadLinkFromProject">
      <soap12:operation soapAction="http://www.qa-software.com/GetAttachmentsDownloadLinkFromProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MailWebServiceHttpGet" type="tns:MailWebServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ListMail">
      <http:operation location="/ListMail" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMailDetails">
      <http:operation location="/GetMailDetails" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAttachmentsDownloadLink">
      <http:operation location="/GetAttachmentsDownloadLink" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListNewMailTypes">
      <http:operation location="/ListNewMailTypes" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListReplyForwardMailTypes">
      <http:operation location="/ListReplyForwardMailTypes" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStructureForComposeMail">
      <http:operation location="/GetStructureForComposeMail" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveMail">
      <http:operation location="/SaveMail" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMail">
      <http:operation location="/SendMail" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarkAsReadOrUnread">
      <http:operation location="/MarkAsReadOrUnread" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendReadReceipt">
      <http:operation location="/SendReadReceipt" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMailThread">
      <http:operation location="/GetMailThread" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListMailForAllProjects">
      <http:operation location="/ListMailForAllProjects" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListMailForAllProjectsAsynchronous">
      <http:operation location="/ListMailForAllProjectsAsynchronous" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMailDetailsFromProject">
      <http:operation location="/GetMailDetailsFromProject" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAttachmentsDownloadLinkFromProject">
      <http:operation location="/GetAttachmentsDownloadLinkFromProject" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MailWebServiceHttpPost" type="tns:MailWebServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ListMail">
      <http:operation location="/ListMail" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMailDetails">
      <http:operation location="/GetMailDetails" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAttachmentsDownloadLink">
      <http:operation location="/GetAttachmentsDownloadLink" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListNewMailTypes">
      <http:operation location="/ListNewMailTypes" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListReplyForwardMailTypes">
      <http:operation location="/ListReplyForwardMailTypes" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStructureForComposeMail">
      <http:operation location="/GetStructureForComposeMail" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveMail">
      <http:operation location="/SaveMail" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMail">
      <http:operation location="/SendMail" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarkAsReadOrUnread">
      <http:operation location="/MarkAsReadOrUnread" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendReadReceipt">
      <http:operation location="/SendReadReceipt" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMailThread">
      <http:operation location="/GetMailThread" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListMailForAllProjects">
      <http:operation location="/ListMailForAllProjects" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListMailForAllProjectsAsynchronous">
      <http:operation location="/ListMailForAllProjectsAsynchronous" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMailDetailsFromProject">
      <http:operation location="/GetMailDetailsFromProject" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAttachmentsDownloadLinkFromProject">
      <http:operation location="/GetAttachmentsDownloadLinkFromProject" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MailWebService">
    <wsdl:port name="MailWebServiceSoap" binding="tns:MailWebServiceSoap">
      <soap:address location="https://kiewittest.teambinder.com/TBWS/mail.asmx" />
    </wsdl:port>
    <wsdl:port name="MailWebServiceSoap12" binding="tns:MailWebServiceSoap12">
      <soap12:address location="https://kiewittest.teambinder.com/TBWS/mail.asmx" />
    </wsdl:port>
    <wsdl:port name="MailWebServiceHttpGet" binding="tns:MailWebServiceHttpGet">
      <http:address location="https://kiewittest.teambinder.com/TBWS/mail.asmx" />
    </wsdl:port>
    <wsdl:port name="MailWebServiceHttpPost" binding="tns:MailWebServiceHttpPost">
      <http:address location="https://kiewittest.teambinder.com/TBWS/mail.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>