KiewitTeamBinder.Api/Service References/AddressBookServiceReference/AdrBook.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.qa-software.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.qa-software.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.qa-software.com/">
      <s:element name="ListCompanyType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="orderBy" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListCompanyTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListCompanyTypeResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListCompanies">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="companyFilter" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="orderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="startRowPosition" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="noOfRows" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListCompaniesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListCompaniesResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListContacts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contactFilter" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="orderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="startRowPosition" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="noOfRows" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="companyIntKey" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListContactsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListContactsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCompany">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="companyIntKey" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCompanyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCompanyResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContact">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="contactIntKey" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContactResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetContactResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCompanyType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="companyTypeIntKey" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCompanyTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCompanyTypeResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveCompany">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="companyDetailsXml" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="globalAdrBookAction" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveCompanyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveCompanyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveContact">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contactDetailsXml" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="userToBeDuplicated" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="sendWelcomeNotice" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="globalAdrBookAction" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="grantDocAccess" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveContactResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveContactResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveCompanyType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="companyTypeDetailsXml" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="globalAdrBookAction" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveCompanyTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveCompanyTypeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListContactGroups">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="orderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="startRowPosition" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="noOfRows" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="sendEmptyGroups" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListContactGroupsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListContactGroupsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListCompanyTypesForAllProjects">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="orderBy" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListCompanyTypesForAllProjectsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListCompanyTypesForAllProjectsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListCompaniesForAllProjects">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="companyFilter" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="orderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="startRowPosition" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="noOfRows" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListCompaniesForAllProjectsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListCompaniesForAllProjectsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListContactsForAllProjects">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contactFilter" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="companyID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="orderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="startRowPosition" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="noOfRows" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListContactsForAllProjectsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListContactsForAllProjectsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListCompanyTypesForAllProjectsAsynchronous">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="orderBy" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListCompanyTypesForAllProjectsAsynchronousResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListCompanyTypesForAllProjectsAsynchronousResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListCompaniesForAllProjectsAsynchronous">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="companyFilter" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="orderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="startRowPosition" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="noOfRows" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListCompaniesForAllProjectsAsynchronousResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListCompaniesForAllProjectsAsynchronousResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListContactsForAllProjectsAsynchronous">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="companyFilter" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="companyID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="orderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="startRowPosition" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="noOfRows" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListContactsForAllProjectsAsynchronousResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListContactsForAllProjectsAsynchronousResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCompanyFromProject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="companyIntKey" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="masterProjectKey" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCompanyFromProjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCompanyFromProjectResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContactFromProject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="contactIntKey" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="masterProjectKey" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContactFromProjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetContactFromProjectResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCompanyTypeFromProject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="companyTypeIntKey" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="masterProjectKey" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCompanyTypeFromProjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCompanyTypeFromProjectResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExportCompaniesFromGAB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="companyIntKeys" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="targetProjIntKeys" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExportCompaniesFromGABResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExportCompaniesFromGABResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExportContactsFromGAB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contactIntKeys" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="targetProjIntKeys" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExportContactsFromGABResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExportContactsFromGABResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataTable" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListCompanyTypeSoapIn">
    <wsdl:part name="parameters" element="tns:ListCompanyType" />
  </wsdl:message>
  <wsdl:message name="ListCompanyTypeSoapOut">
    <wsdl:part name="parameters" element="tns:ListCompanyTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ListCompaniesSoapIn">
    <wsdl:part name="parameters" element="tns:ListCompanies" />
  </wsdl:message>
  <wsdl:message name="ListCompaniesSoapOut">
    <wsdl:part name="parameters" element="tns:ListCompaniesResponse" />
  </wsdl:message>
  <wsdl:message name="ListContactsSoapIn">
    <wsdl:part name="parameters" element="tns:ListContacts" />
  </wsdl:message>
  <wsdl:message name="ListContactsSoapOut">
    <wsdl:part name="parameters" element="tns:ListContactsResponse" />
  </wsdl:message>
  <wsdl:message name="GetCompanySoapIn">
    <wsdl:part name="parameters" element="tns:GetCompany" />
  </wsdl:message>
  <wsdl:message name="GetCompanySoapOut">
    <wsdl:part name="parameters" element="tns:GetCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="GetContactSoapIn">
    <wsdl:part name="parameters" element="tns:GetContact" />
  </wsdl:message>
  <wsdl:message name="GetContactSoapOut">
    <wsdl:part name="parameters" element="tns:GetContactResponse" />
  </wsdl:message>
  <wsdl:message name="GetCompanyTypeSoapIn">
    <wsdl:part name="parameters" element="tns:GetCompanyType" />
  </wsdl:message>
  <wsdl:message name="GetCompanyTypeSoapOut">
    <wsdl:part name="parameters" element="tns:GetCompanyTypeResponse" />
  </wsdl:message>
  <wsdl:message name="SaveCompanySoapIn">
    <wsdl:part name="parameters" element="tns:SaveCompany" />
  </wsdl:message>
  <wsdl:message name="SaveCompanySoapOut">
    <wsdl:part name="parameters" element="tns:SaveCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="SaveContactSoapIn">
    <wsdl:part name="parameters" element="tns:SaveContact" />
  </wsdl:message>
  <wsdl:message name="SaveContactSoapOut">
    <wsdl:part name="parameters" element="tns:SaveContactResponse" />
  </wsdl:message>
  <wsdl:message name="SaveCompanyTypeSoapIn">
    <wsdl:part name="parameters" element="tns:SaveCompanyType" />
  </wsdl:message>
  <wsdl:message name="SaveCompanyTypeSoapOut">
    <wsdl:part name="parameters" element="tns:SaveCompanyTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ListContactGroupsSoapIn">
    <wsdl:part name="parameters" element="tns:ListContactGroups" />
  </wsdl:message>
  <wsdl:message name="ListContactGroupsSoapOut">
    <wsdl:part name="parameters" element="tns:ListContactGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="ListCompanyTypesForAllProjectsSoapIn">
    <wsdl:part name="parameters" element="tns:ListCompanyTypesForAllProjects" />
  </wsdl:message>
  <wsdl:message name="ListCompanyTypesForAllProjectsSoapOut">
    <wsdl:part name="parameters" element="tns:ListCompanyTypesForAllProjectsResponse" />
  </wsdl:message>
  <wsdl:message name="ListCompaniesForAllProjectsSoapIn">
    <wsdl:part name="parameters" element="tns:ListCompaniesForAllProjects" />
  </wsdl:message>
  <wsdl:message name="ListCompaniesForAllProjectsSoapOut">
    <wsdl:part name="parameters" element="tns:ListCompaniesForAllProjectsResponse" />
  </wsdl:message>
  <wsdl:message name="ListContactsForAllProjectsSoapIn">
    <wsdl:part name="parameters" element="tns:ListContactsForAllProjects" />
  </wsdl:message>
  <wsdl:message name="ListContactsForAllProjectsSoapOut">
    <wsdl:part name="parameters" element="tns:ListContactsForAllProjectsResponse" />
  </wsdl:message>
  <wsdl:message name="ListCompanyTypesForAllProjectsAsynchronousSoapIn">
    <wsdl:part name="parameters" element="tns:ListCompanyTypesForAllProjectsAsynchronous" />
  </wsdl:message>
  <wsdl:message name="ListCompanyTypesForAllProjectsAsynchronousSoapOut">
    <wsdl:part name="parameters" element="tns:ListCompanyTypesForAllProjectsAsynchronousResponse" />
  </wsdl:message>
  <wsdl:message name="ListCompaniesForAllProjectsAsynchronousSoapIn">
    <wsdl:part name="parameters" element="tns:ListCompaniesForAllProjectsAsynchronous" />
  </wsdl:message>
  <wsdl:message name="ListCompaniesForAllProjectsAsynchronousSoapOut">
    <wsdl:part name="parameters" element="tns:ListCompaniesForAllProjectsAsynchronousResponse" />
  </wsdl:message>
  <wsdl:message name="ListContactsForAllProjectsAsynchronousSoapIn">
    <wsdl:part name="parameters" element="tns:ListContactsForAllProjectsAsynchronous" />
  </wsdl:message>
  <wsdl:message name="ListContactsForAllProjectsAsynchronousSoapOut">
    <wsdl:part name="parameters" element="tns:ListContactsForAllProjectsAsynchronousResponse" />
  </wsdl:message>
  <wsdl:message name="GetCompanyFromProjectSoapIn">
    <wsdl:part name="parameters" element="tns:GetCompanyFromProject" />
  </wsdl:message>
  <wsdl:message name="GetCompanyFromProjectSoapOut">
    <wsdl:part name="parameters" element="tns:GetCompanyFromProjectResponse" />
  </wsdl:message>
  <wsdl:message name="GetContactFromProjectSoapIn">
    <wsdl:part name="parameters" element="tns:GetContactFromProject" />
  </wsdl:message>
  <wsdl:message name="GetContactFromProjectSoapOut">
    <wsdl:part name="parameters" element="tns:GetContactFromProjectResponse" />
  </wsdl:message>
  <wsdl:message name="GetCompanyTypeFromProjectSoapIn">
    <wsdl:part name="parameters" element="tns:GetCompanyTypeFromProject" />
  </wsdl:message>
  <wsdl:message name="GetCompanyTypeFromProjectSoapOut">
    <wsdl:part name="parameters" element="tns:GetCompanyTypeFromProjectResponse" />
  </wsdl:message>
  <wsdl:message name="ExportCompaniesFromGABSoapIn">
    <wsdl:part name="parameters" element="tns:ExportCompaniesFromGAB" />
  </wsdl:message>
  <wsdl:message name="ExportCompaniesFromGABSoapOut">
    <wsdl:part name="parameters" element="tns:ExportCompaniesFromGABResponse" />
  </wsdl:message>
  <wsdl:message name="ExportContactsFromGABSoapIn">
    <wsdl:part name="parameters" element="tns:ExportContactsFromGAB" />
  </wsdl:message>
  <wsdl:message name="ExportContactsFromGABSoapOut">
    <wsdl:part name="parameters" element="tns:ExportContactsFromGABResponse" />
  </wsdl:message>
  <wsdl:message name="ListCompanyTypeHttpGetIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="orderBy" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListCompanyTypeHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="ListCompaniesHttpGetIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="companyFilter" type="s:string" />
    <wsdl:part name="orderBy" type="s:string" />
    <wsdl:part name="startRowPosition" type="s:string" />
    <wsdl:part name="noOfRows" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListCompaniesHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="ListContactsHttpGetIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="contactFilter" type="s:string" />
    <wsdl:part name="orderBy" type="s:string" />
    <wsdl:part name="startRowPosition" type="s:string" />
    <wsdl:part name="noOfRows" type="s:string" />
    <wsdl:part name="companyIntKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListContactsHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="GetCompanyHttpGetIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="companyIntKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCompanyHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetContactHttpGetIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="contactIntKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetContactHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetCompanyTypeHttpGetIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="companyTypeIntKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCompanyTypeHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="SaveCompanyHttpGetIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="companyDetailsXml" type="s:string" />
    <wsdl:part name="globalAdrBookAction" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SaveCompanyHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SaveContactHttpGetIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="contactDetailsXml" type="s:string" />
    <wsdl:part name="userToBeDuplicated" type="s:string" />
    <wsdl:part name="sendWelcomeNotice" type="s:string" />
    <wsdl:part name="globalAdrBookAction" type="s:string" />
    <wsdl:part name="grantDocAccess" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SaveContactHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SaveCompanyTypeHttpGetIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="companyTypeDetailsXml" type="s:string" />
    <wsdl:part name="globalAdrBookAction" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SaveCompanyTypeHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ListContactGroupsHttpGetIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="orderBy" type="s:string" />
    <wsdl:part name="startRowPosition" type="s:string" />
    <wsdl:part name="noOfRows" type="s:string" />
    <wsdl:part name="sendEmptyGroups" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListContactGroupsHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="ListCompanyTypesForAllProjectsHttpGetIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="orderBy" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListCompanyTypesForAllProjectsHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="ListCompaniesForAllProjectsHttpGetIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="companyFilter" type="s:string" />
    <wsdl:part name="orderBy" type="s:string" />
    <wsdl:part name="startRowPosition" type="s:string" />
    <wsdl:part name="noOfRows" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListCompaniesForAllProjectsHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="ListContactsForAllProjectsHttpGetIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="contactFilter" type="s:string" />
    <wsdl:part name="companyID" type="s:string" />
    <wsdl:part name="orderBy" type="s:string" />
    <wsdl:part name="startRowPosition" type="s:string" />
    <wsdl:part name="noOfRows" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListContactsForAllProjectsHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="ListCompanyTypesForAllProjectsAsynchronousHttpGetIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="orderBy" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListCompanyTypesForAllProjectsAsynchronousHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ListCompaniesForAllProjectsAsynchronousHttpGetIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="companyFilter" type="s:string" />
    <wsdl:part name="orderBy" type="s:string" />
    <wsdl:part name="startRowPosition" type="s:string" />
    <wsdl:part name="noOfRows" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListCompaniesForAllProjectsAsynchronousHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ListContactsForAllProjectsAsynchronousHttpGetIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="companyFilter" type="s:string" />
    <wsdl:part name="companyID" type="s:string" />
    <wsdl:part name="orderBy" type="s:string" />
    <wsdl:part name="startRowPosition" type="s:string" />
    <wsdl:part name="noOfRows" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListContactsForAllProjectsAsynchronousHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetCompanyFromProjectHttpGetIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="companyIntKey" type="s:string" />
    <wsdl:part name="masterProjectKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCompanyFromProjectHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetContactFromProjectHttpGetIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="contactIntKey" type="s:string" />
    <wsdl:part name="masterProjectKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetContactFromProjectHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetCompanyTypeFromProjectHttpGetIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="companyTypeIntKey" type="s:string" />
    <wsdl:part name="masterProjectKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCompanyTypeFromProjectHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="ExportCompaniesFromGABHttpGetIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="companyIntKeys" type="s:string" />
    <wsdl:part name="targetProjIntKeys" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ExportCompaniesFromGABHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="ExportContactsFromGABHttpGetIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="contactIntKeys" type="s:string" />
    <wsdl:part name="targetProjIntKeys" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ExportContactsFromGABHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="ListCompanyTypeHttpPostIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="orderBy" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListCompanyTypeHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="ListCompaniesHttpPostIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="companyFilter" type="s:string" />
    <wsdl:part name="orderBy" type="s:string" />
    <wsdl:part name="startRowPosition" type="s:string" />
    <wsdl:part name="noOfRows" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListCompaniesHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="ListContactsHttpPostIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="contactFilter" type="s:string" />
    <wsdl:part name="orderBy" type="s:string" />
    <wsdl:part name="startRowPosition" type="s:string" />
    <wsdl:part name="noOfRows" type="s:string" />
    <wsdl:part name="companyIntKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListContactsHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="GetCompanyHttpPostIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="companyIntKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCompanyHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetContactHttpPostIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="contactIntKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetContactHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetCompanyTypeHttpPostIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="companyTypeIntKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCompanyTypeHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="SaveCompanyHttpPostIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="companyDetailsXml" type="s:string" />
    <wsdl:part name="globalAdrBookAction" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SaveCompanyHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SaveContactHttpPostIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="contactDetailsXml" type="s:string" />
    <wsdl:part name="userToBeDuplicated" type="s:string" />
    <wsdl:part name="sendWelcomeNotice" type="s:string" />
    <wsdl:part name="globalAdrBookAction" type="s:string" />
    <wsdl:part name="grantDocAccess" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SaveContactHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SaveCompanyTypeHttpPostIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="companyTypeDetailsXml" type="s:string" />
    <wsdl:part name="globalAdrBookAction" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SaveCompanyTypeHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ListContactGroupsHttpPostIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="orderBy" type="s:string" />
    <wsdl:part name="startRowPosition" type="s:string" />
    <wsdl:part name="noOfRows" type="s:string" />
    <wsdl:part name="sendEmptyGroups" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListContactGroupsHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="ListCompanyTypesForAllProjectsHttpPostIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="orderBy" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListCompanyTypesForAllProjectsHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="ListCompaniesForAllProjectsHttpPostIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="companyFilter" type="s:string" />
    <wsdl:part name="orderBy" type="s:string" />
    <wsdl:part name="startRowPosition" type="s:string" />
    <wsdl:part name="noOfRows" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListCompaniesForAllProjectsHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="ListContactsForAllProjectsHttpPostIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="contactFilter" type="s:string" />
    <wsdl:part name="companyID" type="s:string" />
    <wsdl:part name="orderBy" type="s:string" />
    <wsdl:part name="startRowPosition" type="s:string" />
    <wsdl:part name="noOfRows" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListContactsForAllProjectsHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="ListCompanyTypesForAllProjectsAsynchronousHttpPostIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="orderBy" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListCompanyTypesForAllProjectsAsynchronousHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ListCompaniesForAllProjectsAsynchronousHttpPostIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="companyFilter" type="s:string" />
    <wsdl:part name="orderBy" type="s:string" />
    <wsdl:part name="startRowPosition" type="s:string" />
    <wsdl:part name="noOfRows" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListCompaniesForAllProjectsAsynchronousHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ListContactsForAllProjectsAsynchronousHttpPostIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="companyFilter" type="s:string" />
    <wsdl:part name="companyID" type="s:string" />
    <wsdl:part name="orderBy" type="s:string" />
    <wsdl:part name="startRowPosition" type="s:string" />
    <wsdl:part name="noOfRows" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListContactsForAllProjectsAsynchronousHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetCompanyFromProjectHttpPostIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="companyIntKey" type="s:string" />
    <wsdl:part name="masterProjectKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCompanyFromProjectHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetContactFromProjectHttpPostIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="contactIntKey" type="s:string" />
    <wsdl:part name="masterProjectKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetContactFromProjectHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetCompanyTypeFromProjectHttpPostIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="companyTypeIntKey" type="s:string" />
    <wsdl:part name="masterProjectKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCompanyTypeFromProjectHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="ExportCompaniesFromGABHttpPostIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="companyIntKeys" type="s:string" />
    <wsdl:part name="targetProjIntKeys" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ExportCompaniesFromGABHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="ExportContactsFromGABHttpPostIn">
    <wsdl:part name="sessionKey" type="s:string" />
    <wsdl:part name="contactIntKeys" type="s:string" />
    <wsdl:part name="targetProjIntKeys" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ExportContactsFromGABHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:portType name="AddressBookSoap">
    <wsdl:operation name="ListCompanyType">
      <wsdl:input message="tns:ListCompanyTypeSoapIn" />
      <wsdl:output message="tns:ListCompanyTypeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListCompanies">
      <wsdl:input message="tns:ListCompaniesSoapIn" />
      <wsdl:output message="tns:ListCompaniesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListContacts">
      <wsdl:input message="tns:ListContactsSoapIn" />
      <wsdl:output message="tns:ListContactsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCompany">
      <wsdl:input message="tns:GetCompanySoapIn" />
      <wsdl:output message="tns:GetCompanySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContact">
      <wsdl:input message="tns:GetContactSoapIn" />
      <wsdl:output message="tns:GetContactSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCompanyType">
      <wsdl:input message="tns:GetCompanyTypeSoapIn" />
      <wsdl:output message="tns:GetCompanyTypeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveCompany">
      <wsdl:input message="tns:SaveCompanySoapIn" />
      <wsdl:output message="tns:SaveCompanySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveContact">
      <wsdl:input message="tns:SaveContactSoapIn" />
      <wsdl:output message="tns:SaveContactSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveCompanyType">
      <wsdl:input message="tns:SaveCompanyTypeSoapIn" />
      <wsdl:output message="tns:SaveCompanyTypeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListContactGroups">
      <wsdl:input message="tns:ListContactGroupsSoapIn" />
      <wsdl:output message="tns:ListContactGroupsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListCompanyTypesForAllProjects">
      <wsdl:input message="tns:ListCompanyTypesForAllProjectsSoapIn" />
      <wsdl:output message="tns:ListCompanyTypesForAllProjectsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListCompaniesForAllProjects">
      <wsdl:input message="tns:ListCompaniesForAllProjectsSoapIn" />
      <wsdl:output message="tns:ListCompaniesForAllProjectsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListContactsForAllProjects">
      <wsdl:input message="tns:ListContactsForAllProjectsSoapIn" />
      <wsdl:output message="tns:ListContactsForAllProjectsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListCompanyTypesForAllProjectsAsynchronous">
      <wsdl:input message="tns:ListCompanyTypesForAllProjectsAsynchronousSoapIn" />
      <wsdl:output message="tns:ListCompanyTypesForAllProjectsAsynchronousSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListCompaniesForAllProjectsAsynchronous">
      <wsdl:input message="tns:ListCompaniesForAllProjectsAsynchronousSoapIn" />
      <wsdl:output message="tns:ListCompaniesForAllProjectsAsynchronousSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListContactsForAllProjectsAsynchronous">
      <wsdl:input message="tns:ListContactsForAllProjectsAsynchronousSoapIn" />
      <wsdl:output message="tns:ListContactsForAllProjectsAsynchronousSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCompanyFromProject">
      <wsdl:input message="tns:GetCompanyFromProjectSoapIn" />
      <wsdl:output message="tns:GetCompanyFromProjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContactFromProject">
      <wsdl:input message="tns:GetContactFromProjectSoapIn" />
      <wsdl:output message="tns:GetContactFromProjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCompanyTypeFromProject">
      <wsdl:input message="tns:GetCompanyTypeFromProjectSoapIn" />
      <wsdl:output message="tns:GetCompanyTypeFromProjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExportCompaniesFromGAB">
      <wsdl:input message="tns:ExportCompaniesFromGABSoapIn" />
      <wsdl:output message="tns:ExportCompaniesFromGABSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExportContactsFromGAB">
      <wsdl:input message="tns:ExportContactsFromGABSoapIn" />
      <wsdl:output message="tns:ExportContactsFromGABSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="AddressBookHttpGet">
    <wsdl:operation name="ListCompanyType">
      <wsdl:input message="tns:ListCompanyTypeHttpGetIn" />
      <wsdl:output message="tns:ListCompanyTypeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ListCompanies">
      <wsdl:input message="tns:ListCompaniesHttpGetIn" />
      <wsdl:output message="tns:ListCompaniesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ListContacts">
      <wsdl:input message="tns:ListContactsHttpGetIn" />
      <wsdl:output message="tns:ListContactsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCompany">
      <wsdl:input message="tns:GetCompanyHttpGetIn" />
      <wsdl:output message="tns:GetCompanyHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContact">
      <wsdl:input message="tns:GetContactHttpGetIn" />
      <wsdl:output message="tns:GetContactHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCompanyType">
      <wsdl:input message="tns:GetCompanyTypeHttpGetIn" />
      <wsdl:output message="tns:GetCompanyTypeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveCompany">
      <wsdl:input message="tns:SaveCompanyHttpGetIn" />
      <wsdl:output message="tns:SaveCompanyHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveContact">
      <wsdl:input message="tns:SaveContactHttpGetIn" />
      <wsdl:output message="tns:SaveContactHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveCompanyType">
      <wsdl:input message="tns:SaveCompanyTypeHttpGetIn" />
      <wsdl:output message="tns:SaveCompanyTypeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ListContactGroups">
      <wsdl:input message="tns:ListContactGroupsHttpGetIn" />
      <wsdl:output message="tns:ListContactGroupsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ListCompanyTypesForAllProjects">
      <wsdl:input message="tns:ListCompanyTypesForAllProjectsHttpGetIn" />
      <wsdl:output message="tns:ListCompanyTypesForAllProjectsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ListCompaniesForAllProjects">
      <wsdl:input message="tns:ListCompaniesForAllProjectsHttpGetIn" />
      <wsdl:output message="tns:ListCompaniesForAllProjectsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ListContactsForAllProjects">
      <wsdl:input message="tns:ListContactsForAllProjectsHttpGetIn" />
      <wsdl:output message="tns:ListContactsForAllProjectsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ListCompanyTypesForAllProjectsAsynchronous">
      <wsdl:input message="tns:ListCompanyTypesForAllProjectsAsynchronousHttpGetIn" />
      <wsdl:output message="tns:ListCompanyTypesForAllProjectsAsynchronousHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ListCompaniesForAllProjectsAsynchronous">
      <wsdl:input message="tns:ListCompaniesForAllProjectsAsynchronousHttpGetIn" />
      <wsdl:output message="tns:ListCompaniesForAllProjectsAsynchronousHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ListContactsForAllProjectsAsynchronous">
      <wsdl:input message="tns:ListContactsForAllProjectsAsynchronousHttpGetIn" />
      <wsdl:output message="tns:ListContactsForAllProjectsAsynchronousHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCompanyFromProject">
      <wsdl:input message="tns:GetCompanyFromProjectHttpGetIn" />
      <wsdl:output message="tns:GetCompanyFromProjectHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContactFromProject">
      <wsdl:input message="tns:GetContactFromProjectHttpGetIn" />
      <wsdl:output message="tns:GetContactFromProjectHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCompanyTypeFromProject">
      <wsdl:input message="tns:GetCompanyTypeFromProjectHttpGetIn" />
      <wsdl:output message="tns:GetCompanyTypeFromProjectHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ExportCompaniesFromGAB">
      <wsdl:input message="tns:ExportCompaniesFromGABHttpGetIn" />
      <wsdl:output message="tns:ExportCompaniesFromGABHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ExportContactsFromGAB">
      <wsdl:input message="tns:ExportContactsFromGABHttpGetIn" />
      <wsdl:output message="tns:ExportContactsFromGABHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="AddressBookHttpPost">
    <wsdl:operation name="ListCompanyType">
      <wsdl:input message="tns:ListCompanyTypeHttpPostIn" />
      <wsdl:output message="tns:ListCompanyTypeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ListCompanies">
      <wsdl:input message="tns:ListCompaniesHttpPostIn" />
      <wsdl:output message="tns:ListCompaniesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ListContacts">
      <wsdl:input message="tns:ListContactsHttpPostIn" />
      <wsdl:output message="tns:ListContactsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCompany">
      <wsdl:input message="tns:GetCompanyHttpPostIn" />
      <wsdl:output message="tns:GetCompanyHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContact">
      <wsdl:input message="tns:GetContactHttpPostIn" />
      <wsdl:output message="tns:GetContactHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCompanyType">
      <wsdl:input message="tns:GetCompanyTypeHttpPostIn" />
      <wsdl:output message="tns:GetCompanyTypeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveCompany">
      <wsdl:input message="tns:SaveCompanyHttpPostIn" />
      <wsdl:output message="tns:SaveCompanyHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveContact">
      <wsdl:input message="tns:SaveContactHttpPostIn" />
      <wsdl:output message="tns:SaveContactHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveCompanyType">
      <wsdl:input message="tns:SaveCompanyTypeHttpPostIn" />
      <wsdl:output message="tns:SaveCompanyTypeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ListContactGroups">
      <wsdl:input message="tns:ListContactGroupsHttpPostIn" />
      <wsdl:output message="tns:ListContactGroupsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ListCompanyTypesForAllProjects">
      <wsdl:input message="tns:ListCompanyTypesForAllProjectsHttpPostIn" />
      <wsdl:output message="tns:ListCompanyTypesForAllProjectsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ListCompaniesForAllProjects">
      <wsdl:input message="tns:ListCompaniesForAllProjectsHttpPostIn" />
      <wsdl:output message="tns:ListCompaniesForAllProjectsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ListContactsForAllProjects">
      <wsdl:input message="tns:ListContactsForAllProjectsHttpPostIn" />
      <wsdl:output message="tns:ListContactsForAllProjectsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ListCompanyTypesForAllProjectsAsynchronous">
      <wsdl:input message="tns:ListCompanyTypesForAllProjectsAsynchronousHttpPostIn" />
      <wsdl:output message="tns:ListCompanyTypesForAllProjectsAsynchronousHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ListCompaniesForAllProjectsAsynchronous">
      <wsdl:input message="tns:ListCompaniesForAllProjectsAsynchronousHttpPostIn" />
      <wsdl:output message="tns:ListCompaniesForAllProjectsAsynchronousHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ListContactsForAllProjectsAsynchronous">
      <wsdl:input message="tns:ListContactsForAllProjectsAsynchronousHttpPostIn" />
      <wsdl:output message="tns:ListContactsForAllProjectsAsynchronousHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCompanyFromProject">
      <wsdl:input message="tns:GetCompanyFromProjectHttpPostIn" />
      <wsdl:output message="tns:GetCompanyFromProjectHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContactFromProject">
      <wsdl:input message="tns:GetContactFromProjectHttpPostIn" />
      <wsdl:output message="tns:GetContactFromProjectHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCompanyTypeFromProject">
      <wsdl:input message="tns:GetCompanyTypeFromProjectHttpPostIn" />
      <wsdl:output message="tns:GetCompanyTypeFromProjectHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ExportCompaniesFromGAB">
      <wsdl:input message="tns:ExportCompaniesFromGABHttpPostIn" />
      <wsdl:output message="tns:ExportCompaniesFromGABHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ExportContactsFromGAB">
      <wsdl:input message="tns:ExportContactsFromGABHttpPostIn" />
      <wsdl:output message="tns:ExportContactsFromGABHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AddressBookSoap" type="tns:AddressBookSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListCompanyType">
      <soap:operation soapAction="http://www.qa-software.com/ListCompanyType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCompanies">
      <soap:operation soapAction="http://www.qa-software.com/ListCompanies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListContacts">
      <soap:operation soapAction="http://www.qa-software.com/ListContacts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompany">
      <soap:operation soapAction="http://www.qa-software.com/GetCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContact">
      <soap:operation soapAction="http://www.qa-software.com/GetContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanyType">
      <soap:operation soapAction="http://www.qa-software.com/GetCompanyType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCompany">
      <soap:operation soapAction="http://www.qa-software.com/SaveCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveContact">
      <soap:operation soapAction="http://www.qa-software.com/SaveContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCompanyType">
      <soap:operation soapAction="http://www.qa-software.com/SaveCompanyType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListContactGroups">
      <soap:operation soapAction="http://www.qa-software.com/ListContactGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCompanyTypesForAllProjects">
      <soap:operation soapAction="http://www.qa-software.com/ListCompanyTypesForAllProjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCompaniesForAllProjects">
      <soap:operation soapAction="http://www.qa-software.com/ListCompaniesForAllProjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListContactsForAllProjects">
      <soap:operation soapAction="http://www.qa-software.com/ListContactsForAllProjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCompanyTypesForAllProjectsAsynchronous">
      <soap:operation soapAction="http://www.qa-software.com/ListCompanyTypesForAllProjectsAsynchronous" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCompaniesForAllProjectsAsynchronous">
      <soap:operation soapAction="http://www.qa-software.com/ListCompaniesForAllProjectsAsynchronous" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListContactsForAllProjectsAsynchronous">
      <soap:operation soapAction="http://www.qa-software.com/ListContactsForAllProjectsAsynchronous" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanyFromProject">
      <soap:operation soapAction="http://www.qa-software.com/GetCompanyFromProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactFromProject">
      <soap:operation soapAction="http://www.qa-software.com/GetContactFromProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanyTypeFromProject">
      <soap:operation soapAction="http://www.qa-software.com/GetCompanyTypeFromProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportCompaniesFromGAB">
      <soap:operation soapAction="http://www.qa-software.com/ExportCompaniesFromGAB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportContactsFromGAB">
      <soap:operation soapAction="http://www.qa-software.com/ExportContactsFromGAB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AddressBookSoap12" type="tns:AddressBookSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListCompanyType">
      <soap12:operation soapAction="http://www.qa-software.com/ListCompanyType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCompanies">
      <soap12:operation soapAction="http://www.qa-software.com/ListCompanies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListContacts">
      <soap12:operation soapAction="http://www.qa-software.com/ListContacts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompany">
      <soap12:operation soapAction="http://www.qa-software.com/GetCompany" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContact">
      <soap12:operation soapAction="http://www.qa-software.com/GetContact" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanyType">
      <soap12:operation soapAction="http://www.qa-software.com/GetCompanyType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCompany">
      <soap12:operation soapAction="http://www.qa-software.com/SaveCompany" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveContact">
      <soap12:operation soapAction="http://www.qa-software.com/SaveContact" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCompanyType">
      <soap12:operation soapAction="http://www.qa-software.com/SaveCompanyType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListContactGroups">
      <soap12:operation soapAction="http://www.qa-software.com/ListContactGroups" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCompanyTypesForAllProjects">
      <soap12:operation soapAction="http://www.qa-software.com/ListCompanyTypesForAllProjects" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCompaniesForAllProjects">
      <soap12:operation soapAction="http://www.qa-software.com/ListCompaniesForAllProjects" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListContactsForAllProjects">
      <soap12:operation soapAction="http://www.qa-software.com/ListContactsForAllProjects" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCompanyTypesForAllProjectsAsynchronous">
      <soap12:operation soapAction="http://www.qa-software.com/ListCompanyTypesForAllProjectsAsynchronous" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCompaniesForAllProjectsAsynchronous">
      <soap12:operation soapAction="http://www.qa-software.com/ListCompaniesForAllProjectsAsynchronous" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListContactsForAllProjectsAsynchronous">
      <soap12:operation soapAction="http://www.qa-software.com/ListContactsForAllProjectsAsynchronous" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanyFromProject">
      <soap12:operation soapAction="http://www.qa-software.com/GetCompanyFromProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactFromProject">
      <soap12:operation soapAction="http://www.qa-software.com/GetContactFromProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanyTypeFromProject">
      <soap12:operation soapAction="http://www.qa-software.com/GetCompanyTypeFromProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportCompaniesFromGAB">
      <soap12:operation soapAction="http://www.qa-software.com/ExportCompaniesFromGAB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportContactsFromGAB">
      <soap12:operation soapAction="http://www.qa-software.com/ExportContactsFromGAB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AddressBookHttpGet" type="tns:AddressBookHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ListCompanyType">
      <http:operation location="/ListCompanyType" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCompanies">
      <http:operation location="/ListCompanies" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListContacts">
      <http:operation location="/ListContacts" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompany">
      <http:operation location="/GetCompany" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContact">
      <http:operation location="/GetContact" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanyType">
      <http:operation location="/GetCompanyType" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCompany">
      <http:operation location="/SaveCompany" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveContact">
      <http:operation location="/SaveContact" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCompanyType">
      <http:operation location="/SaveCompanyType" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListContactGroups">
      <http:operation location="/ListContactGroups" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCompanyTypesForAllProjects">
      <http:operation location="/ListCompanyTypesForAllProjects" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCompaniesForAllProjects">
      <http:operation location="/ListCompaniesForAllProjects" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListContactsForAllProjects">
      <http:operation location="/ListContactsForAllProjects" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCompanyTypesForAllProjectsAsynchronous">
      <http:operation location="/ListCompanyTypesForAllProjectsAsynchronous" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCompaniesForAllProjectsAsynchronous">
      <http:operation location="/ListCompaniesForAllProjectsAsynchronous" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListContactsForAllProjectsAsynchronous">
      <http:operation location="/ListContactsForAllProjectsAsynchronous" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanyFromProject">
      <http:operation location="/GetCompanyFromProject" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactFromProject">
      <http:operation location="/GetContactFromProject" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanyTypeFromProject">
      <http:operation location="/GetCompanyTypeFromProject" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportCompaniesFromGAB">
      <http:operation location="/ExportCompaniesFromGAB" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportContactsFromGAB">
      <http:operation location="/ExportContactsFromGAB" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AddressBookHttpPost" type="tns:AddressBookHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ListCompanyType">
      <http:operation location="/ListCompanyType" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCompanies">
      <http:operation location="/ListCompanies" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListContacts">
      <http:operation location="/ListContacts" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompany">
      <http:operation location="/GetCompany" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContact">
      <http:operation location="/GetContact" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanyType">
      <http:operation location="/GetCompanyType" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCompany">
      <http:operation location="/SaveCompany" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveContact">
      <http:operation location="/SaveContact" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCompanyType">
      <http:operation location="/SaveCompanyType" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListContactGroups">
      <http:operation location="/ListContactGroups" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCompanyTypesForAllProjects">
      <http:operation location="/ListCompanyTypesForAllProjects" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCompaniesForAllProjects">
      <http:operation location="/ListCompaniesForAllProjects" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListContactsForAllProjects">
      <http:operation location="/ListContactsForAllProjects" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCompanyTypesForAllProjectsAsynchronous">
      <http:operation location="/ListCompanyTypesForAllProjectsAsynchronous" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCompaniesForAllProjectsAsynchronous">
      <http:operation location="/ListCompaniesForAllProjectsAsynchronous" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListContactsForAllProjectsAsynchronous">
      <http:operation location="/ListContactsForAllProjectsAsynchronous" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanyFromProject">
      <http:operation location="/GetCompanyFromProject" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactFromProject">
      <http:operation location="/GetContactFromProject" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanyTypeFromProject">
      <http:operation location="/GetCompanyTypeFromProject" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportCompaniesFromGAB">
      <http:operation location="/ExportCompaniesFromGAB" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportContactsFromGAB">
      <http:operation location="/ExportContactsFromGAB" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AddressBook">
    <wsdl:port name="AddressBookSoap" binding="tns:AddressBookSoap">
      <soap:address location="https://kiewittest.teambinder.com/TBWS/AdrBook.asmx" />
    </wsdl:port>
    <wsdl:port name="AddressBookSoap12" binding="tns:AddressBookSoap12">
      <soap12:address location="https://kiewittest.teambinder.com/TBWS/AdrBook.asmx" />
    </wsdl:port>
    <wsdl:port name="AddressBookHttpGet" binding="tns:AddressBookHttpGet">
      <http:address location="https://kiewittest.teambinder.com/TBWS/AdrBook.asmx" />
    </wsdl:port>
    <wsdl:port name="AddressBookHttpPost" binding="tns:AddressBookHttpPost">
      <http:address location="https://kiewittest.teambinder.com/TBWS/AdrBook.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>